
body {
  font-family: Raleway !important;
}

.navbar-nav {
  justify-content: space-between;
  margin-right: 0;
}

.navbar.bg-change {
  background-color: rgb(68, 192, 250); /* cambiar a cualquier color deseado */
  transition: background-color 0.5s ease-in-out; /* animación de transición */
  opacity: 0.9;
}

svg {
  width: 2rem ;
  vertical-align: middle;
  margin-left: 40px;
}


.carousel {
  margin-top: -60px; /* ajusta la posición del carrusel debajo de la navbar */
}

.carousel-item {
  transition: opacity 0.5s ease-in-out;
}

.card .card-header{
  background-color: rgb(68, 192, 250) ;
}

.card .destacados{
  background-color: rgb(68, 192, 250) ;
}

.card-destacados {
  height: auto; /* altura automática */
  max-height: 500px; /* altura máxima */
  min-height: 370px;
}

#card-destacados2 img{
  height: auto; /* altura automática */
  max-height: 210px; /* altura máxima */
  min-height: 100px;
}

footer {
  background-color: rgb(68, 192, 250) ;

}

i:hover{
  color: rgb(0, 0, 0);
  transition: 0.3 ease;
}
